AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} \/gallery
    RewriteRule ^(.*)$ index.html [QSA,L]

    RewriteCond %{REQUEST_URI} \/declarant
    RewriteCond %{REQUEST_URI} !\/api\/
    RewriteRule ^(.*)$ index.html [QSA,L]

    RewriteCond %{REQUEST_URI} \/search
    RewriteCond %{REQUEST_URI} !\/api\/
    RewriteRule ^(.*)$ index.html [QSA,L]

    RewriteCond %{REQUEST_URI} \/participant
    RewriteCond %{REQUEST_URI} !\/api\/
    RewriteRule ^(.*)$ index.html [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>
