.image_detail {
   /* min-width: 500px;*/
   /* max-width: 50%;*/
    max-height:500px;
    float: left;
    max-width: 50%;
    margin-bottom: 39px;
    margin-left: 50px;
    cursor: zoom-in;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
}
.comments {
    width:800px;
    margin-left: 50px;
}
.clearfix{
    clear:both;
}
.image_info {
    margin-left: 39px;
    margin-right: 45px;
    margin-bottom: 50px;
    line-height: 35px;
    font-size: 19px;
    color: #A2A2A2;
}

.image_info a {
    text-decoration: none;
}
.tip{
    line-height: 25px;
    width: 285px;
    font-size: 17px;
    margin-top: 25px;
    color: #FFFFFF;
}

.info-wrap {
    float: left;
}
#close-btn{
    background-image: url(icon-close.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    position: fixed;
    color: white;
    width: 73px;
    height: 73px;
    right: 0;
    top: 0;
}
#close-btn:hover{
    cursor:pointer;
    background-image: url(icon-close-red.png);
}
#link-input{
    outline: none;
    border: 1px solid #dbdbdb;
    height: 24px;
    top: 0;
    left: 0;
    padding-left: 7px;
    width: 264px;
    /*
    padding-left: 3px;
    width: 264px;
    height: 24px;
    border: 1px solid white;
    border-radius: 6px;*/
}

.vote {
    text-align:center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: none;
    padding-top: 11px;
    color: white;
    font-size: 22px;
    margin-top: 40px;
    width: 200px;
    background-color: #0072FF;
    height: 49px;
    border-radius: 6px;
}

.pagination {
    height: 100px;
    width: 450px;
    padding: 13px 28px 0 30px;
    clear: both;
}

.navigation {
    float: left;
    margin: auto;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 1.7em;
    color: white;
    width: 175px;
    background-color: #0072FF;
    height: 30px;
    padding-top: 19px;
    padding-bottom: 9px;
    text-align: center;
    border-radius: 6px;
}
.navigation:hover{
    background-color: #338dff;
}
.inactive {
    background: #B6BCBF;
}

.no-vote {
    padding: 13px 20px 0 20px;
    font-size: 15px;
    width: 248px;
    height: 60px;
    line-height: 24px;
    color: white;
    margin-top: 40px;
    background-color: #BBBBBB;
    border-radius: 6px;
}

.vote:hover {
    background-color: #6cabff;
    cursor: pointer;
}

.vote.error {
    padding-left: 57px;
    background-image: url(/warning.png);
    background-position: 10px;
    background-repeat: no-repeat;
    cursor: default;
    font-size: 19px;
    width: 307px;
    background-color: #FF797C;
}

.vote.success {
    padding-right: 11px;
    padding-left: 57px;
    background-image: url(/icon-check.png);
    background-position: 10px;
    background-repeat: no-repeat;
    cursor: default;
    font-size: 18px;
    width: 183px;
    background-color: #86DA91;
}
@media (max-width: 1010px) {
    .image_detail {
        margin-left:0;
        margin-top:0;
        min-width: 100%;
        max-width: 50%;
        max-height:none;
    }
    .no-vote{
        padding: 13px 20px 0 20px;
        font-size: 0.87em;
        width: 248px;
        height: 60px;
        line-height: 24px;
    }
    .image_info {
        margin-left: 25px;
         margin-right: 0;
    }
    .comments{
        width:100%;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
}